@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Courgette&display=swap');

$font1: 'Alfa Slab One', cursive;
$font2: 'Courgette', cursive;
$color1: white;
$color2: black;
$color3: orange;
$color4: gray;
