@use '../abstracts/' as *;

.main--nosotros {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  position: relative;

  @include breakpoint(lg) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::before {
    background: url(../assets/img/alitas-de-pollo-crudas-sobre-mesa-negra.webp)
      no-repeat center center/cover;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -999999;
    width: 100%;
  }
}

.nosotros__content {
  margin-inline: auto;
  padding: 7rem 0;
  width: 90%;

  @include breakpoint(sm) {
    width: 75%;
  }

  @include breakpoint(lg) {
    padding: 0;
    height: 450px;
    width: 95%;
  }

  @include breakpoint(xl) {
    height: 500px;
    padding-top: 7rem;
  }

  @include breakpoint(xxl) {
    width: 70%;
  }

  &__video {
    border-radius: 7%;
    box-shadow: 5px 0 15px $color1;

    video {
      border-radius: 7%;
      object-fit: cover;
      max-width: 100%;

      @include breakpoint(lg) {
        height: 100%;
      }
    }

    @include breakpoint(lg) {
      height: 100%;
      width: 45%;
    }
  }

  &__aboutus {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid $color1;
    border-radius: 10px;
    box-shadow: 5px 0 15px $color1;
    color: $color1;
    padding: 1rem;
    text-shadow: 3px 0 3px $color2;

    @include breakpoint(lg) {
      height: 100%;
      width: 45%;
    }

    @include breakpoint(xxl) {
      height: 100%;
      width: 50%;
    }

    h2 {
      font-size: clamp(rem(16), rem(24) + 2vw, rem(28) /*28px*/);

      @include breakpoint(sm) {
        font-size: clamp(rem(16), rem(24) + 2vw, rem(30) /*30px*/);
      }

      @include breakpoint(md) {
        font-size: clamp(rem(16), rem(24) + 2vw, rem(40) /*40px*/);
      }

      @include breakpoint(lg) {
        font-size: clamp(rem(16), rem(24) + 2vw, rem(30) /*30px*/);
      }

      @include breakpoint(xxl) {
        font-size: clamp(rem(16), rem(24) + 2vw, rem(27) /*27px*/);
      }
    }

    p {
      font-size: clamp(rem(16), rem(16) + 2vw, rem(20) /*20px*/);

      @include breakpoint(sm) {
        font-size: clamp(rem(16), rem(16) + 2vw, rem(22) /*22px*/);
      }

      @include breakpoint(lg) {
        font-size: clamp(rem(16), rem(16) + 2vw, rem(18) /*19px*/);
      }
    }
  }
}
